/* Add fonts */
@font-face {
    font-family: Inter;
    src: url(./assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: InterBold;
    src: url(./assets/fonts/static/Inter-SemiBold.ttf);
}

/* Basic setup */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}

body {
    background-color: #f8fcff;
}

h3 {
    font-size: 24px;
}

.container-flex-hor {
    display: flex;
    flex-direction: row;
}

.container-flex-ver {
    display: flex;
    flex-direction: column;
}

/* Utilities */

.hidden {
    display: none;
}

/* Title and description on hero */

#bg-hero {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 630px;
    background: linear-gradient(290deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
    border-radius: 0 0 30px 30px;
}

#main-logo {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 24px;
    transform: translate(-50%, -50%);
}

.frame-1 {

    display: flex;
    flex-direction: column;
    padding: 96px 24px 0 24px;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    font-family: InterBold;
    font-weight: 600;
    font-size: 48px;

}

.description-1 {
    margin-top: 24px;
    text-align: center;
}

/* BMI calculator */

#bmi-calculator {
    background-color: #ffffff;
    margin-top: 40px;
    margin-left: 24px;
    margin-right: 24px;
    width: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0 0 24px 0;
    box-shadow: 5px 5px 15px #727a85;
}

#bmi-calculator h3 {
    color: #253347;
    padding: 24px;
}

#radio-btns {
    justify-content: space-around;
    padding: 0 24px;
}

@media screen and (min-width: 768px) {
    #radio-btns {
        justify-content: flex-start;
        gap: 24px;
    }

    .radio-button {
        width: 50%;
    }
}

.radio-button input {
    accent-color: #345FF6;
    transform: scale(1.5);
    margin-right: 10px;
}

#inputs-metric,
#inputs-imperial {
    padding: 0 24px;
}

@media screen and (min-width: 768px) {

    #inputs-metric,
    #inputs-imperial {
        flex-direction: row;
        gap: 24px;
    }

    .input-number {
        width: 50%;
    }

}

.input-number input {
    appearance: none;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #c5ccd6;
    font-size: 1.3rem;
    font-weight: 600;
}


.input-number label {
    font-size: 0.8rem;
    padding: 15px 0 10px 0;
}

.input-unit-group {
    position: relative;
    width: 100%;
}

.input-unit-group .unit {
    position: absolute;
    font-family: InterBold;
    font-size: 1.3rem;
    top: 1.3rem;
    right: 20px;
    color: #345FF6;
    font-weight: 600;
}

/* Input for imperial units */
.input-imperial-group {
    display: flex;
    gap: 15px;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#result-card {
    margin: 24px 24px 0 24px;
    color: #ffffff;
    background-image: linear-gradient(90deg, #345FF6, #7593ff);
    padding: 30px;
    border-radius: 15px;
}

@media screen and (min-width: 768px) {
    #result-card {
        flex-direction: row;
        gap: 24px;
        height: 150px;
        border-radius: 15px 75px 75px 15px;
    }

    .result-group-1 {
        width: 50%;
    }

    .result-group-2 {
        width: 50%;
    }
}

#result-card h5 {
    margin-top: 10px;
}

#result-card #result {
    margin-top: 10px;
    font-size: 2.5rem;
    font-weight: 600;
}

#result-card p {
    margin-top: 20px;
    font-size: 0.9rem;
    line-height: 21px;
}

.perfect-range {
    font-weight: 600;
}

@media screen and (min-width: 1276px) {
    .hero {
        display: flex;
        flex-direction: row;
        padding-right: 80px;
    }

    .frame-1 {
        width: 50%;
        align-items: flex-start;
        padding-top: 50px;
        padding-left: 80px;
    }

    .frame-1 h1,
    .frame-1 p {
        text-align: left;
    }

    #main-logo {
        display: block;
        position: static;
        padding: 150px 0 0 150px;
    }

    #bmi-calculator {
        width: 50%;
    }
}

/* Meaning card */

.result-meaning-card img {
    margin-top: 50px;
}

.result-meaning-text {
    margin-top: 20px;
    padding: 24px;
}

.result-meaning-text h3 {
    font-size: 2rem;
}

.result-meaning-text p {
    margin-top: 30px;
    line-height: 1.4rem;
    color: #5E6E85;
}

.result-meaning-text p .perfect-range {
    font-weight: 100;
}

@media screen and (min-width:768px) {
    .result-meaning-card {
        flex-direction: row;
    }

    .result-meaning-card img {
        width: 50%;
        position: relative;
        left: -50px;
    }
}

@media screen and (min-width:1276px) {
    .result-meaning-card {
        align-items: center;
        padding-right: 80px;
    }

    .result-meaning-card img {
        left: 0;
        width: 45%;
        padding-left: 80px;
    }

    .result-meaning-text {
        padding-left: 75px;
    }
}

/* Advices */

.advice-section {
    margin-top: 40px;
    padding: 24px;
}

.advice-card {
    margin-top: 30px;
}

.advice-card h3 {
    margin-top: 20px;
}

.advice-card p {
    margin-top: 15px;
    color: #727a85
}

@media screen and (min-width: 768px) {
    .advice-section {
        gap: 20px;
    }

    .advice-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    .advice-card h3 {
        margin-top: 0px;
    }
}

@media screen and (min-width: 1276px) {
    .advice-section {
        padding-left: 80px;
        padding-right: 80px;
        flex-direction: row;

    }

    .advice-card {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* Limitations */

.limitations {
    margin-top: 30px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.limitations h2 {
    text-align: center;
}

.limitations-intro p {
    text-align: center;
    margin-top: 20px;
    color: #727a85;
}

.limitations-card:nth-child(2) {
    margin-top: 40px;
}

.limitations-card {
    margin-top: 15px;
    box-shadow: 19px 21px 40px -34px rgba(66, 68, 90, 1);
    border-radius: 15px;
}

.limitations-card h4 {
    display: inline-block;
}

.limitations-icon {
    display: inline-block;
    padding-right: 10px;
}

.card-icon-title {
    display: flex;
    align-items: center;
    padding: 24px;
}

.limitations-card p {
    color: #727a85;
    line-height: 1.4rem;
    padding: 0 24px 24px 24px;
}

@media screen and (min-width: 768px) {
    .limitations {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .limitations-card {
        width: 50%;
    }
}

@media screen and (min-width:1276px) {
    .limitations {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows:auto auto auto auto ;
        align-items: center;
        padding-left: 80px;
        padding-right: 80px;
    }

    .limitations-intro h2 {
        text-align: left;
        font-size: 2rem;
    }

    .limitations-intro p {
        text-align: left;
    }

    .limitations-card {
        width: 100%;
    }

    .limitations-intro{
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .limitations-card:nth-child(2){
        grid-column:8/11;
    }
    .limitations-card:nth-child(3){
        grid-row-start: 2;
        grid-column: 6/9;
    }
    .limitations-card:nth-child(4){
        grid-row-start: 2;
        grid-column: 9/12;
    }
    .limitations-card:nth-child(5){
        grid-row-start: 3;
        grid-column: 4/7;
    }
    .limitations-card:nth-child(6){
        grid-row-start: 3;
        grid-column: 7/10;
    }
}