* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: SpaceGrotesk;
    color: var(--color5);
}

/* Specfiy design system */

@font-face {
    font-family: SpaceGrotesk;
    src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}

:root {
    --color1: rgb(21, 21, 21);
    --color2: rgb(78, 225, 160);
    --color3: rgb(36, 36, 36);
    --color4: rgb(217, 217, 217);
    --color5: rgb(255, 255, 255);
    background-color: var(--color1);
}

/* GENERAL */

h1 {
    font-size: 88px;
    font-weight: 600;
    line-height: 88px;
    letter-spacing: -2.5px;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -1.5px;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

p {
    font-size: 18px;
    line-height: 28px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 0 15px;
}

.button {
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: var(--color2);
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}

hr {
    margin: 15px 0;
}

/* HEADER, FOOTER */

header,
footer {
    justify-content: center;
    padding: 20px 0;
}

header h3,
footer h3 {
    text-align: center;
    margin-right: 0 auto;
    width: 100%;
}

.social-icon {
    margin: 10px 10px;
}

/* HERO */

#hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#my-photo {
    position: relative;
    z-index: -1;
    top: -180px;
    margin-bottom: -140px;
    display: block;
    text-align: center;
}

#my-photo img {
    width: 60%;
}

#rings-1 {
    position: absolute;
    left: -350px;
    top: -20px;
    z-index: -2;
}

#hero h1 {
    font-size: 2.7rem;
    line-height: 2.7rem;
    text-align: center;
}

.underlined {
    text-decoration: underline;
    text-decoration-color: var(--color2);
    text-underline-offset: 5px;
}

#hero p {
    padding-top: 50px;
    width: auto;
    text-align: center;

}

#hero .button {
    padding: 30px 0;
}

/* SKILLS */

#technologies {}

.tech-card {
    text-align: center;
    margin-top: 20px;
}

.tech-card h2 {
    font-size: 2rem;
}

/* PROJECTS */

#projects {
    display: flex;
    flex-direction: column;
}

.project-header {
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.project-group img {
    width: 100%;
}

.project-group {
    margin-top: 40px;
}

.project-group h3 {
    padding: 10px 0;
}

.project-group p {
    word-spacing: 1rem;
}

.project-group-buttons {
    padding: 20px 0 0 0;
}

.project-group-buttons .button {
    margin-right: 20px;
}

/* CONTACT */

#contact {
    align-items: center;
    background-color: var(--color3);
}

.contact-group {
    text-align: center;
    align-items: center;
}

.contact-group h2 {
    margin: 0 auto;
}

#contact form {
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

#contact input,
#contact textarea {
    display: block;
    width: 100%;
    padding: 20px 15px 15px 15px;
    background-color: transparent;
    border-width: 0 0 2px 0;
    resize: none;
}

#contact form button {
    margin:20px 0 50px 0;
    background-color: transparent;
    border: 0;
    align-self: flex-end;
}

#contact input:focus,
#contact textarea:focus {
    border-color: var(--color2);
    outline: none;
}

/* FOOTER */