* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: SpaceGrotesk;
    color: var(--color5);
}

/* Specfiy design system */

@font-face {
    font-family: SpaceGrotesk;
    src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}

:root {
    --color1: rgb(21, 21, 21);
    --color2: rgb(78, 225, 160);
    --color3: rgb(36, 36, 36);
    --color4: rgb(217, 217, 217);
    --color5: rgb(255, 255, 255);
    background-color: var(--color1);
}

/* GENERAL */

h1 {
    font-size: 88px;
    font-weight: 600;
    line-height: 88px;
    letter-spacing: -2.5px;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -1.5px;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

p {
    font-size: 18px;
    line-height: 28px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}


body {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 0 15px;
}

.button {
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: var(--color2);
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
    letter-spacing: 3px;
}

.button:hover {
    cursor: pointer;
    color: var(--color2);
}



hr {
    margin: 15px 15px;
}

/* HEADER, FOOTER */

header,
footer {
    justify-content: center;
    padding: 20px 0;
}

header h3,
footer h3 {
    text-align: center;
    width: 100%;
}

.social-icon {
    margin: 10px 10px;
}

.social-icon:hover {
    cursor: pointer;
    filter: invert(78%) sepia(69%) saturate(383%) hue-rotate(89deg) brightness(390%) contrast(94%);
}

.visible{
    opacity:1 !important;
    transition: all 1s ease-in;
}

.slide-in{
    transform: translateX(0%) !important;
}



@media screen and (min-width: 768px) {

    header h3,
    footer h3 {
        text-align: center;
        margin-right: auto;
        width: auto;
    }
}

/* HERO */

#hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#my-photo {
    position: relative;
    z-index: -1;
    top: -180px;
    margin-bottom: -140px;
    display: block;
    text-align: center;
    width: 50%;
    min-width: 200px;
    transform: translate(0%, 100%);
    opacity: 0;
}

#rings-1 {
    position: absolute;
    left: -350px;
    top: -20px;
    z-index: -2;
}

#hero h1 {
    font-size: 2.7rem;
    line-height: 2.7rem;
    text-align: center;
    opacity:0;
}

.underlined {
    text-decoration: underline;
    text-decoration-color: var(--color2);
    text-underline-offset: 5px;
}

#hero p {
    padding-top: 50px;
    width: auto;
    text-align: center;
    opacity:0;
    transform: translateX(-100%);

}

#hero .button {
    padding: 30px 0;
    opacity:0;
}

@media screen and (min-width: 768px) {
    #hero {
        align-items: flex-start;
        height: 50vw;
        justify-content: space-evenly;
    }

    #my-photo {
        position: absolute;
        z-index: -1;
        top: -155px;
        right: 0;
        margin-bottom: 0;
        width: 35%;

    }

    #hero h1 {
        text-align: left;
        width: 65%;
        margin-top: 40px;
        font-size: 7vw;
        line-height: 8vw;
    }

    #hero p {
        padding-top: 30px;
        width: 60%;
        text-align: left;
        font-size: 2.5vw;
        line-height: 3vw;
    }

    #hero .button {
        margin-top: 30px;
    }
}
@media screen and (min-width: 1024px){
    #hero{
        max-height: 1000px;
    }
    #hero h1 {
        width: 63%;
        font-size: 78px;
        line-height: 78px;
    }

    #hero p{
        font-size: 25px;
        line-height: 25px;
    }
}

/* SKILLS */

#technologies {
    flex-direction: column;
    justify-content: center;
    position:relative;
    overflow-x: hidden;
}

.tech-card {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.tech-card h2 {
    font-size: 2rem;
}

.tech-card:nth-child(odd){
    transform: translateX(-130%);
    opacity: 0;
}

.tech-card:nth-child(even){
    /* position:absolute; */
    transform: translateX(130%);
    opacity: 0;
}

@media screen and (min-width: 768px) {
    #technologies {
        flex-direction: row;
    }

    .tech-card {
        width: 45%;
        margin-top: 50px;
    }
}

@media screen and (min-width: 1024px){
.tech-card h2{
    font-size:70px
}


}

/* PROJECTS */

#projects {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.project-header {
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.project-group img {
    width: 100%;
}

.project-group {
    margin-top: 40px;
}

.project-group h3 {
    padding: 10px 0;
}

.project-group p {
    word-spacing: 1rem;
}

.project-group-buttons {
    padding: 20px 0 0 0;
}

.project-group-buttons .button {
    margin-right: 20px;
}

@media screen and (min-width: 768px) {
    .project-header {
        width: 100%;
    }

    .project-header h2 {
        font-size: 7vw;
    }

    #projects {
        flex-direction: row;
        gap: 15px;
        justify-content: center;
    }

    .project-group {
        width: 48%;

    }
}

@media screen and (min-width: 1024px) {
    .project-header h2 {
        font-size: 78px;
    }
    .project-group {
        position: relative;
    }

    .project-group-buttons {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        gap: 40px;
        align-items: center;
        display: none;
    }


    .project-group:hover picture{
        filter:brightness(20%);
    }

    .project-group:hover .project-group-buttons {
        display: flex;
        gap: 40px;
        align-items: center;

    }
}

/* CONTACT */

#contact {
    align-items: center;
    background-color: var(--color3);
}

.contact-group {
    text-align: center;
    align-items: center;
}

.contact-group h2 {
    margin: 20px auto;
}

#contact form {
    padding: top 30px;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

#contact input,
#contact textarea {
    display: block;
    width: 100%;
    padding: 20px 15px 15px 15px;
    background-color: transparent;
    border-width: 0 0 2px 0;
    resize: none;
}

#contact form button {
    margin: 30px 0 50px 0;
    background-color: transparent;
    border: 0;
    align-self: flex-end;
}

#contact input:focus,
#contact textarea:focus {
    border-color: var(--color2);
    outline: none;
}

#contact hr {
    width: 100%;
    margin: 0;
}

.contact-container {
    max-width: 500px;
    margin: 0 auto;
}

.invalid{
    border-color: red !important;
}

.valid{
    border-color: var(--color2);
}

.input-group{
    position:relative;
}

.validationInfo{
    color:red;
    font-size:12px;
    position: absolute;
    bottom:-17px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    display: block;
    width: 100%;
    padding: 20px 15px 15px 15px;
    background-color: transparent;
    border-width: 0 0 2px 0;
    resize: none;
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;

}

@media screen and (min-width: 1024px){
    #contact{
        width:100%;
    }

    #contact .contact-container {
        flex-direction: row;
        min-width: 100%;
        gap: 30px; 
        justify-content:space-around;
    }

    .contact-group{
        flex-direction: column;
        width:400px;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    
    .contact-group h2{
        margin:20px 0  ;
    }
    
    #contact form{
        width:400px;
        margin:0;
    }
}


/* FOOTER */



footer {
    background-color: var(--color3);
}